/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


section {
  position: relative;
  margin: 0;
  height: 100vh;
  background: radial-gradient(#333, #000);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

section a {
  color: #fff;
  font-size: 2em; /* Adjust as needed */
  text-transform: uppercase;
  width: 40px;
  height: 40px;
  line-height: 40px; /* Ensure the text is centered vertically */
}

section .set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

section .set div {
  position: absolute;
  display: block;
}

section .set div:nth-child(1)
{
  animation-delay:-7s;
  left: 50%;
  animation: animate 15s linear infinite;
}
section .set div:nth-child(2)
{
  animation-delay:-5s;
  left: 50%;
  animation: animate 15s linear infinite;
}
section .set div:nth-child(3)
{
  animation-delay:0s;
  left: 70%;
  animation: animate 20s linear infinite;
}




section .set div:nth-child(4)
{
  animation-delay:-5s;
  left: 0%;
  animation: animate 15s linear infinite;
}






section .set div:nth-child(5)
{
  animation-delay:-5s;
  left: 0%;
  animation: animate 15s linear infinite;
}




section .set div:nth-child(6)
{
  left: 0%;
  animation: animate 12s linear infinite;
}

section .set div:nth-child(7)
{
 
  left: 15%;
  animation: animate 14s linear infinite;
}

section .set div:nth-child(8)
{
  left: 60%;
  animation: animate 15s linear infinite;
}



@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(20px) rotate(90deg);
  }
  60% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}
